.footerCopyrightContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  width: 60%;
  margin: auto;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  .infosLinks {
    display: flex;
    gap: 15px;
    a {
      position: relative;
      color: #000;
      &:hover{
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background: #000;
          bottom: 4px;
          left: 0;
        }
        }
    }
    p{
      font-weight: 500;
    }
  }
  .country {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-weight: 500;
    p {
      position: relative;
      color: inherit;
      &:hover{
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background: #000;
          bottom: 4px;
          left: 0;
        }
      }
    }
  }
  .money {
    color: #000;
    font-weight: 500;
    display: flex;
    p {
      color: inherit;
      span{
        position: relative;
        &:hover{
          &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: #000;
            bottom: 4px;
            left: 0;
          }
        }
      }
    }
  }
  .socialNetworks {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
    a {
      color: #000;
      i {
        font-size: 20px;
      }
    }
  }
 /*  .infosLinks a */ .country>p, .money p{
    &:hover {
      // border-bottom: 1px solid #000
      // border:1px solid red;
    }
}
}

@media screen and (max-width: 768px){
  .footerCopyrightContainer{
    width: 95%;
    flex-direction: column;
    gap: 25px;
    align-items: start;
    .infosLinks{
      flex-direction: column;
    }
  }
}